body{
    background-color: rgb(37, 37, 37);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(206, 206, 206);
    width: 800px;
}

figure{
    text-align: center;
}

h2 {
    background-color: rgb(206, 206, 206);
    text-align: left;
    color:rgb(37, 37, 37)
}

a{
    color: rgb(90, 119, 148);
}

a:hover{
    color: rgb(107, 140, 174);
}

.resumo {
    font-style: italic;
}

footer{
    background-color: rgb(206, 206, 206);
    text-align: center;
    font-style: italic;
    color: rgb(37, 37, 37);
}

.nome {
    color: rgb(206, 206, 206);
    text-decoration: underline;
    text-align: center;
}